body{
    font-family: Montserrat;
    font-size: 13px;
    overflow-x: hidden;
}
.navbar .navbar-brand img{
    width: 200px;
    height: auto;
}
.navbar{
    padding-right: 30px;
}
.navbar .nav-item .nav-link img{
    width: 20px;
    height: auto;
}
.navbar .nav-item {
    padding: 10px;
}
.navbar .quote-btn{
    padding: 15px 20px;
    background-color: transparent;
    border: 1px solid #168C72;
    color: #168C72;
    border-radius: 15px;
}




.nav-container {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .nav-container p {
    font-size: 20px;
  }
  .nav-container a {
    /* display: inline-block; */
    /* position: relative; */
    text-align: center;
    color: #FF5252;
    text-decoration: none;
    font-size: 13px;
    overflow: hidden;
    top: 5px;
  }
  .nav-container a:after {
    content: '';
    position: absolute;
    background: #FF5252;
    height: 2px;
    width: 0%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    /* left: 50%; */
    bottom: 0;
    -webkit-transition: .35s ease;
    transition: .35s ease;
  }
  .nav-container a:hover:after,
  .nav-container a:focus:after,
  .nav-container a:active:after {
    width: 100%;
  }
  
  .button_container {
    position: fixed;
    /* top: 35px; */
    right: 0;
    height: 27px;
    width: 30px;
    cursor: pointer;
    z-index: 100;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
  }
  
  .button_container:hover {
    opacity: 1;
  }
  
  .button_container.active .top {
    -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
    -ms-transform: translateY(11px) translateX(0) rotate(45deg);
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #FFF;
  }
  
  .button_container.active .middle {
    opacity: 0;
    background: #FFF;
  }
  
  .button_container.active .bottom {
    -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
    -ms-transform: translateY(-11px) translateX(0) rotate(-45deg);
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #FFF;
  }
  
  .button_container span {
    background: #07725B;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    /* float: right; */
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    cursor: pointer;
    float: right;
  }
  @media(max-width: 991px){
    .button_container span {
        left: 0
    };
  }
  
  .button_container span:nth-of-type(2) {
    top: 11px;
    width: 60%;
  }
  
  .button_container span:nth-of-type(3) {
    top: 22px;
  }
  
  .overlay {
    position: fixed;
    background: #56be8f;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .35s, visibility .35s, height .35s;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
  }
  
  .overlay.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
    z-index: 99;
  }
  
  .overlay.open li {
    -webkit-animation: fadeInRight .5s ease forwards;
    animation: fadeInRight .5s ease forwards;
    -webkit-animation-delay: .35s;
    animation-delay: .35s;
  }
  
  .overlay.open li:nth-of-type(2) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
  }
  
  .overlay.open li:nth-of-type(3) {
    -webkit-animation-delay: .45s;
    animation-delay: .45s;
  }
  
  .overlay.open li:nth-of-type(4) {
    -webkit-animation-delay: .50s;
    animation-delay: .50s;
  }
  
  .overlay.open li:nth-of-type(5) {
    -webkit-animation-delay: .55s;
    animation-delay: .55s;
  }
  
  .overlay nav {
    position: relative;
    height: 70%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 13px;
    text-align: center;
  }
  
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
  }
  
  .overlay ul li {
    display: block;
    height: 10%;
    height: calc(100% / 5);
    min-height: 20px;
    position: relative;
    opacity: 0;
  }
  
  .overlay ul li a {
    display: block;
    position: relative;
    color: #FFF;
    text-decoration: none;
    overflow: hidden;
  }
  
  .overlay ul li a:hover:after,
  .overlay ul li a:focus:after,
  .overlay ul li a:active:after {
    width: 100%;
  }
  
  .overlay ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 3px;
    background: #FFF;
    -webkit-transition: .35s;
    transition: .35s;
  }
  
  @-webkit-keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }
  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }



/* --------------------common css start---------------- */

.main-color{
    color: #07725B;
}
.sub-head-color{
    color: #252525;
}
.para-color{
    color: #999999;
}
.button-style{
    background-color: #19967A;
    border-radius: 10px;
    padding: 10px 15px;
    color: white;
    border: 0;
    transition: 0.5s ease;
}
.button-style:hover{
    background-color: transparent;
    border: 1px solid #19967A;
    color: #19967A;
}
.light-green{
    color: #4AAD97;
}

/* ------------------------------------------------- */




/* ------------------home start-------------------- */

.home{
    margin-top: 100px;
    background: url("../images/navigation/BG&IMG.png");
    border-radius: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.home h1{
    margin-top: 100px;
    font-size: 45px;
}
.home .bold-letter{
    font-weight: 900;
    line-height: 20px;
}
.home button{
    border: 0;
    border-radius: 10px;
    padding: 10px 15px;
}
.home .contact-us{
    background-color: white;
    color: #07725B;
}
.home .contact-us:hover{
    opacity: 0.7;
}
.home .consult{
    background-color: #168C72;
    color: #ffffff;
}
.home .consult:hover{
    opacity: 0.7;
}
.home .icon-bg{
    width: 40px;
    height: 40px;
    background-color: #05735B;
    padding: 10px;
    border-radius: 5px;
}
.home .icon-bg i{
    color: white;
    font-size: 15px;
}
.home-icons{
    float: right;
    margin-top: 250px;
}
.home .home-texts{
    margin: 50px;
}
.home-bar{
    margin-top: -250px;
    padding: 20px;
}
.home-bar .works{
    background-color: #0C1A23;
    width: 70%;
    height: 100%;
    margin: 0 auto;
    padding: 50px;
    border-radius: 15px;
    margin-top: 150px;
}
.home-bar .works .each-work img{
    width: 80px;
    height: auto;
    margin: 0 auto;
    display: block;
    position: relative;
}
.home-bar .border-right{
    border-right: 1px solid #395D74;
}


/* ------------------home end-------------------- */



/* ------------------about start-------------------- */

.about{
    margin-top: 250px;
}
.about .about-column{
    background: url("../images/about/about-column.png");
    padding: 30px;
    border-radius: 15px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.about .column-text{
    justify-content: center;
}
/* .about .card-bg{
    background: url("../images/about/about-card-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px;
    height: 200px;
} */
.about .card-bg{
    padding: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}
.about .circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #C0DED7;
    margin-right: -50px;
}
.about .about-contents{
    margin-left: 80px;
}


/* ------------------about end-------------------- */


/* ------------------our-clients start-------------------- */

.our-clients{
    margin-top: 150px;
    background-color: #0A1821;
    /* padding: 30px; */
}
.our-clients .our-client-section{
    padding: 50px;
}
.our-clients .client-img img{
    margin-top: 100px;
}
.our-clients .client-bg{
    background-color: #07725B;
    border-radius: 10px;
    padding: 10px;
    width: 70px;
    height: 80px;
    margin-top: -200px;
    position: relative;
    margin-left: -30px;
}
.our-clients .client-bg img{
    width: 50px;
    height: auto;
    margin: 0 auto;
    display: block;
}
.our-clients .img-bg{
    background: url("../images/experience/bg.png");
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.our-clients  .exper-bg{
    background: url("../images/experience/experience-card-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin: 0 auto;
    display: block; */
    width: 300px;
    height: 250px;
    padding: 50px;
    margin-top: -100px;
}
.our-clients  .expr-img{
    width: 200px;
    height: auto;
    margin: 0 auto;
    display: block;
}
.our-clients .cards{
    margin-left: 50px;
    margin-right: 50px;
}

/* ------------------our-clients end-------------------- */



/* ------------------our-services start-------------------- */

.our-services{
    margin-top: 150px;
}
.our-services .card{
    border: 0;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    height: 100%;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    transition: 0.3s ease;
}
.our-services .card:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.our-services img{
    width: 60px;
    height: auto;
    margin: 0 auto;
    display: block;
}
.our-services .carousel-inner{
    padding: 20px;
}
.our-services .carousel-indicators{
    bottom: -10%;
}
.our-services .carousel-indicators button.active{
    width: 25px;
    border-radius: 15px;
}
.our-services .carousel-indicators button{
    background-color: #05735B;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    
}

/* ------------------our-services end-------------------- */



/* ------------------special-projects start-------------------- */

.special-projects{
    margin-top: 150px;
    background: url("../images/special-projects/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 100px 50px;
}
.special-projects .special-carousel{
    margin-top: 50px;
}
.special-projects .project-name b{
    font-weight:normal;
    font-size: 15px;
}
.special-projects .left-img{
    width: 500px;
    height: auto;
}
.special-projects .right-icon{
    width: 35px;
    height: auto;
}
.special-projects .right-contents{
    margin: 50px;
}
.special-projects .carousel-indicators{
    float: left;
    display: block;
    bottom: 0;
}
.special-projects .carousel-indicators button{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #05735B;
    /* float: left; */
}
.special-projects .carousel-control-prev-icon{
    width: 20px;
}
.special-projects .carousel-control-next-icon{
    width: 20px;
    margin-left: 350px;
}
.next-pre-icon{
    background-color: transparent;
    border: 0;
}
.special-projects .carousel-indicators button.active {
    width: 20px;
    border-radius: 40%;
    background-color: #ffffff;
}
.special-projects i{
    font-size: 10px;
    color: blueviolet;
}

/* ------------------special-projects end-------------------- */



/* ------------------portfolio start-------------------- */

.portfolio{
    margin-top: 150px;
}
.portfolio .container{
	max-width: 1170px;
	margin:auto;
}
.portfolio .row{
	display: flex;
	flex-wrap: wrap;
}
.portfolio img{
	max-width: 100%;
	vertical-align: middle;
}
/*.gallery*/
.portfolio .gallery{
	width: 100%;
	display: block;
	margin-top: 50px;
}
.portfolio .gallery .gallery-filter{
	padding: 0 15px;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}
.portfolio .gallery .gallery-filter .filter-item{
	color: #696262;
	display: inline-block;
	margin:0 10px;
	cursor: pointer;
	line-height: 1.2;
	transition: all 0.3s ease;
}
.portfolio .gallery .gallery-filter .filter-item.active{
	color: #05735B;
}
.portfolio .gallery .gallery-item{
	width: calc(100% / 3);
	padding: 15px;
}
.portfolio .gallery .gallery-item-inner img{
	width: 100%;
}
.portfolio .gallery .gallery-item.show{
	animation: fadeIn 0.5s ease;
}
@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.portfolio .gallery .gallery-item.hide{
	display: none;
}

/*responsive*/
@media(max-width: 991px){
	.portfolio .gallery .gallery-item{
		width: 50%;
	}
}
@media(max-width: 767px){
    .portfolio .gallery .gallery-item{
		width: 100%;
	}	
	.portfolio .gallery .gallery-filter .filter-item{
		margin-bottom: 10px;
	}
}

/* ------------------portfolio end-------------------- */


/* ------------------testimonial start-------------------- */

.testimonial{
    margin-top: 150px;
    background: url("../images/testimonial/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
    padding: 100px 50px;
}
.testimonial .client-word{
    margin: 0 auto;
    justify-content: center;
    margin-top: 50px;
}
.testimonial .client-profile{
    width: 50px;
    height: auto;
}
.testimonial .client-name{
    font-size: 18px;
}
.testimonial .designation{
    color: #4AAD97;
    letter-spacing: 0.3em;
    font-size: 12px;
}
.testimonial .google{
    width: 20px;
    height: auto;
}
.testimonial .stars i{
    /* font-size: 12px; */
    color: #FEC303;
}
.testimonial .client-say{
    color: #F1F1F1;
    width: 70%;
}
.testimonial .carousel-indicators{
    bottom: -25%;
}
.testimonial .carousel-indicators button{
    width: 7px;
    height: 7px;
    border-radius: 50%;
}
.testimonial .carousel-indicators button.active{
    width: 25px;
    border-radius: 40px;
}
.testimonial .client-say{
    margin: 0 auto;
    display: block;
}
.testimonial .review{
    margin: 0 auto;
    display: block;
}
.testimonial .our-news{
    margin-top: 100px;
}
.testimonial .our-news-cards{
    margin-top: 50px;
}
.testimonial .our-news-cards .card{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 20px;
    border: 0;
    width: 100%;
    height: 100%;
}
.our-news .date-bg{
    background-color: #05735B;
    padding: 5px 10px;
    border-radius: 10px;
    width: 90px;
}
.our-news .date-bg p{
    margin-bottom: 2px;
    margin-top: 2px;
}
.testimonial .our-news-cards .card i{
    font-size: 15px;
}
.testimonial .our-news-cards .card a{
    transition: 0.3s ease;
    letter-spacing: 0.3rem;
}
.testimonial .our-news-cards .card a:hover{
    color: #1a7460;
}
@media(max-width: 991px){
    .testimonial{
        height: 100%;
        padding: 10px;
    }
    .testimonial .client-say{
        width: 100%;
    }
    .testimonial .our-news {
        margin-top: 200px;
        padding: 20px;
    }
    .testimonial .top-margin{
        margin-top: 10px;
    }
    
}

/* ------------------testimonial end-------------------- */


/* ------------------contact start-------------------- */

.contact .contact-bg{
    background: url("../images/footer/contact-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%; */
    height: 100%;
    padding: 50px;
    border-radius: 30px;
    position: relative;
}
.contact{
    margin-top: 300px;
}
.contact form{
    margin-top: 50px;
    background-color: transparent;
}
.contact form input, .contact form textarea{
    background-color: transparent;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 1px solid white;
    border-radius: 0;
}
.contact form input::placeholder, .contact form textarea::placeholder{
    color: white;
    font-size: 13px;
}
.contact .contact-img{
    width: 80px;
    height: auto;
}
.contact .contact-details{
    padding: 50px;
}
.contact .contact-texts{
    color: #CCCCCC;
    width: 70%;
}
.contact .call a{
    transition: 0.3s ease;
    color: white;
}
.contact .call a:hover{
    color: #4AAD97;
}
@media(max-width: 991px){
    .contact .contact-bg{
        margin-top: 200px;
    }
    .contact .photo-review{
        flex-wrap: wrap;
        display: block;
    }
    .contact .contact-img{
        margin: 0 auto;
        display: block;
    }
    .contact .contact-texts{
        width: 100%;
    }
}

/* ------------------contact end-------------------- */


/* ------------------footer start-------------------- */

.footer{
    background: url("../images/footer/footer-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    margin-top: -200px;
    padding-top: 300px;
    padding-bottom: 30px;
}
.no-margin{
    margin-top: 150px;
    padding-top: 100px;
}
.footer .footer-logo{
    width: 250px;
    height: auto;
    margin: 0 auto;
    display: block;
}
.footer .footer-para{
    width: 60%;
    margin: 0 auto;
    color: #BEBEBE;
}
.footer .flag img{
    width: 50px;
    height: auto;
}
.footer a{
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
}
.footer a:hover{
    opacity: 0.7;
}
.footer .quick-links{
    margin: 0 auto;
    justify-content: center;
}
.footer .f-links{
    margin-top: 50px;
}
.footer  hr{
    color: rgb(178, 178, 178);
}
.footer .f-icons i{
    color: rgb(255, 255, 255);
}
.footer .fa-facebook-f{
    margin-left: 10px!important;
}
.footer .instagram{
    margin-left: 7px!important;
}
.footer .linkedin{
    margin-left: 7px!important;
}
.footer .pinterest{
    margin-left: 7px!important;
}
.footer .youtube{
    margin-left: 7px!important;
}
.footer .icon-bg i{
    font-size: 15px;
}
.footer .icon-bg{
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    padding-top: 5px;
    transition: 0.3s ease;
}
.footer .icon-bg:hover{
    background-color: white;
}
.footer .icon-bg:hover i{
    color: #05735B;
}


/* --------------------footer end--------------------- */


/* --------------------graphic design start--------------------- */

.graphic{
    margin-top: 95px;
    background: url("../images/graphic/BG.png");
    background-repeat: no-repeat;
    /* background-size: cover; */
    width: 100%;
    height: 100vh;
    border-radius: 100px 100px 0px 0px;
    padding-top: 150px;
}
.graphic .large-bar{
    background-color: #05735B;
    padding: 50px;
}


/* --------------------graphic design start--------------------- */
